<nav class="navbar">
  <!-- Logo on the left -->
  <div class="logo">
    <img src="assets/Logo.png" alt="Logo" style="width: 150px;" />
  </div>

  <!-- Navigation buttons on the right -->
  <div class="nav-links">
    <div class="navbar-container">
      <div class="navbar-buttons-container">
        <!-- Use <a> tags for navigation with routerLink -->
        <a mat-button [routerLink]="'/input-page'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a mat-button [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a>
      </div>

    </div>
  </div>
</nav>
